*, *::before, *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: futura;
}

h1 {
  font-style: italic;
}

/* For testing only */
/*Uncomment below for test*/

/**:not(body):not(html) {
  box-sizing:border-box;
  border:1px dashed #000;
}*/

/* End for testing */

/*320px portrait is 26.6667em (smartphones)*/
@media all and (max-width: 26.667em) {
  .columns {
    float:left;
    width: 50%;
    margin-right: .5em;
  }
}

/*480px portrait is 48.000em (tablets)*/
@media all and (min-width: 26.667em) and (max-width: 48.000em) {
  .columns {
    float: right;
    width: 50%;
  }
  body {
    background-color: #FF1F4F;
  }
}

/*1280px landscape is 80.000em (laptops)*/
@media all and (min-width: 48.000em) and (max-width: 80.000em) {
  img {
    width: 50%;
    box-shadow: 0px 0px 10px 0px black;
  }
  body {
    text-align: center;
    background-color: #3D6AFF;
  }
}

/*1680px landscape is 140.000em (desktops)*/
@media all and (min-width: 80.000em) and (max-width: 140.000em) {
  img {
    box-shadow: 0px 0px 10px 0px black;
  }
  .columns {
    width: 50%;
    float: left;
    margin-right: 1em;
  }
  body {
    background-color: #FFEE6C;
  }
}

@media all and (min-width: 140.0000em) {
  .columns {
    width: 25%;
    float: left;
    margin-right: 1em;
  }
}
